
/*colores*/
$fondo-listas: #e8a197;
$fondo-menu-footer: #F4E7EC;
$textos-importantes: #918f91;
$textos-secundarios: black;

/*fuentes*/
$titulos-importantes: "bebas neue";
$titulos-secundarios: "julius";

/*size*/
$font-20px: 20px;
$font-15px: 15px;


/*maps*/
$logo: (
    background: $fondo-menu-footer,
    height: 130px,
    width: 130px,
    padding: 2px,
    margin: 2px,
);
$hover-inicio: (
    weight: lighter,
    padding: 8px,
    background: #f6dce6,
    border: 15px,
);
$parrafo: (
    overflow: hidden,
    font:$titulos-secundarios,
    color:$textos-secundarios,
    background:$fondo-menu-footer,
    size:$font-20px,
    width:700px,
    padding:5px,
    margin:10px,
    border:25px,
);