#servicios {
    display: grid;
    grid-template-areas: "servicio1 servicio2 servicio3";
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 100%;
    align-self: center;
    justify-items: center;
    .diseño-de-marca {
        grid-area: servicio1;
    }
    .diseño-de-papeleria {
        grid-area: servicio2;
    }
    .diseño-web {
        grid-area: servicio3;
    }
} 
main {
    section{
        .imagen-servicio {
            height: 300px;
            width: 400px;
            padding: 5px;
            margin: 10px;
         }
        div{
            h3 {
                font-family: $titulos-importantes;
                font-size: $font-20px;
                color: $textos-secundarios;
                background-color:$fondo-listas;
                text-align: center;
                height: 35px;
                width: 400px;
                padding: 5px;
                margin: 10px;
                border-radius: 15px;
            }
        }
        .lista-servicios {
                font-weight: 600;
                list-style-type: none;
                color: $textos-secundarios;
                background-color:$fondo-menu-footer;
                font-family: $titulos-secundarios;
                font-size:$font-20px;
                text-align: start;
                height: 300px;
                width: 400px;
                padding: 15px;
                margin: 10px;
                border-radius: 10px;
        }
        div{
            .boton {
                font-family: $titulos-secundarios;
                text-decoration: none;
                background-color:$fondo-listas;
                text-align: center;
                height: 40px;
                width: 400px;
                padding: 5px;
                margin: 10px;
                border-radius: 15px;
                .textoboton {
                    text-decoration: none;
                    font-weight: 600;
                    color: $textos-secundarios;
                    font-size:$font-20px;
                    padding: 1px;
                    margin: 1px;
                    &:hover {
                        @include hover;
                    }
                }
            }
        }
    }
} 
