@media (min-width: 700px) and (max-width: 1200px){
    main{
        #main-contactos {
            display: grid;
            grid-template-areas: "contacto1" "mapa" "formulario";
            grid-template-rows: 480px 530px 550px;
            justify-items: center;
            .titulo-contacto {
                font-size: 25px;
                height: 35px;
                width: 500px;
                padding: 5px;
                margin: 10px;
                border-radius: 10px;
                }
                nav{
                    .lista-contacto {
                        font-size: 20px;
                        width: 500px;
                        padding: 15px;
                        margin: 10px;
                        .iconos {
                            @include sizes-iconos;
                        }  
                        .texto6 {
                            font-size: 20px;
                            &:hover {
                                @include hover;
                            }
                        }
                    }
                }
            div{
                iframe{
                    height: 450px;
                    width: 500px;
                    padding: 5px;
                    margin: 5px;
                }
            }
            div{
                form{
                    div{
                        input {
                            font-size: 20px;
                            width: 500px;
                            padding: 5px;
                            margin: 5px;
                        }
                        textarea {
                            font-size: 20px;
                            width: 500px;
                            padding: 5px;
                            margin: 5px;
                        }
                        button {
                            font-size: 20px;
                            width: 500px;
                            padding: 5px;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    }
    @media (min-width: 320px) and (max-width: 699px){
    main{
        #main-contactos {
            display: grid;
            grid-template-areas: "contacto1" "mapa" "formulario";
            grid-template-rows: 300px 320px 450px;
            justify-items: center;
            .titulo-contacto {
                font-size:$font-20px;
                height:35px;
                width:300px;
                padding:5px;
                margin:10px;
                border-radius:10px;
                }
                nav{
                    .lista-contacto {
                        font-size: 12px;
                        height: 230px;
                        width: 300px;
                        padding: 15px;
                        margin: 10px;
                        .iconos {
                            height: 30px;
                            width: 30px;
                            padding: 5px;
                            margin: 5px;
                        }
                        .texto6 {
                            font-size: 12px;
                            a:hover {
                                @include hover;
                            }
                        }
                    }
                }
            div{
                iframe{
                    height: 250px;
                    width: 300px;
                    padding: 5px;
                    margin: 10px;
                }
            }
            div{
                form{
                    div{
                        input {
                            @include contactos-form;
                        }
                        textarea {
                            @include contactos-form;
                        }
                        button {
                            @include contactos-form;
                        }
                    }
                }
            }
        }
    }
    }