/*responsive para mobile*/
@media (min-width: 320px) and (max-width: 699px) {
    #grilla {
        overflow-x: hidden;
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-columns: 100%;
      }
    .header {
        grid-area: header;
      }
    .main {
        grid-area: main;
      }
    .footer {
        grid-area: footer;
      }
  
  header{
        nav{
            a{
                .imagen-logo {
                    background-color: $fondo-menu-footer;
                    height: 120px;
                    width: 120px;
                    padding: 5px 1px 1px;
                }
            }
            .nav-link-active {
                text-decoration: none;
                list-style-type: none;
                overflow: hidden;
                height: 20px;
                padding:1px;
                margin: 5px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-family:$titulos-importantes;
                font-size: 17px;
                text-decoration: none;
                color:$textos-importantes;
                &:hover{
                    @include hover;
                }
            }
        }
    }

/*frase inicio*/
/*listas de la pagina de incio*/
  main{
        h1{
            font-size:$font-20px;
            height: 60px;
            padding: 10px;
            margin: 15px 20px;
            border-radius: 15px;
        }
        nav{
            padding: 10px;
            margin: 10px;
            text-align: center;
            opacity: 70%;
            div{
                h2{
                    height: 50px;
                      padding: 10px;
                      border-radius: 20px;
                    .listainicio{
                      margin: 5px;
                    }
                    a{
                      color:$textos-secundarios;
                      font-family:$titulos-secundarios;
                      font-size: $font-15px;
                      text-align: center;
                      height: 20px;
                      padding: 5px;
                      margin: 15px;
                      border-radius: 10px;
                    }
                }
            }
        }
    } 
/*pie de pagina*/
    footer{
      h6{
          font-size: 25px;
        }
        .footerr{
          height: 35px;
          width: 35px;
        }
        .pie-de-pagina {
          font-size: 12px;
          padding: 10px 5px 5px;
          margin: 10px 10px 5px;
        }
    } 
}
/*responsive para tablet y pantallas desktop pequeñas*/
@media (min-width: 700px) and (max-width: 1200px){
    header{
        background-color: $fondo-menu-footer;
        nav{
            a{
                .imagen-logo {
                    background-color:map-get($logo, background);
                    height:140px;
                    width:140px;
                    padding:map-get($logo, padding);
                    margin:map-get($logo, margin);
                }
            }
            .nav-link-active{
                text-decoration: none;
                list-style-type: none;
                overflow: hidden;
                height: 40px;
                padding:10px;
                margin: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family:$titulos-importantes;
                font-size: 27px;
                text-decoration: none;
                color:$textos-importantes; 
                &:hover {
                    font-weight:map-get($hover-inicio , lighter);
                    padding:map-get($hover-inicio, padding);
                    background-color:map-get($hover-inicio, background);
                    border-radius: map-get($hover-inicio, border);
                }
            }
        }
    }
}