@media (min-width: 320px) and (max-width: 699px) {
    #grilla {
        overflow-x: hidden;
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-columns: 100%;
      }
    .header {
        grid-area: header;
      }
    .main {
        grid-area: main;
      }
    .footer {
        grid-area: footer;
      }
  /*menu de incio*/
  #header {
      background-color: $fondo-menu-footer;
      width: 100%;
      display: grid;
      grid-template-areas: "imagen-logo" "menu";
      grid-template-columns: 1fr;
      grid-template-rows: 120px 40px;
      justify-items: center;
  }
  header{
      section{
          .imagen-logo {
              grid-area: imagen-logo;
              background-color: $fondo-menu-footer;
              height: 120px;
              width: 120px;
              padding: 5px 1px 1px;
          }
      }
      nav{
          .menu {
              grid-area: menú;
              justify-items: start;
              height: 40px;
              padding: 15px;
              margin: 1px 5px;
              .textomenu {
                  grid-area: menu;
                  justify-items: start;
                  font-size: 12px;
                  padding: 5px 9px;
                  &:hover {
                      @include hover;
                  }
              }
          }
      }
  }
   /*frase inicio*/
   /*listas de la pagina de incio*/
  main{
      div{
          h2{
              font-size:$font-20px;
              height: 60px;
              padding: 10px;
              margin: 15px 20px;
              border-radius: 15px;
          }
      }
      nav{
          div{
              h2{
                  .listainicio{
                      height: 60px;
                      padding: 20px;
                      margin: 20px;
                      border-radius: 20px;
                  }
                  a{
                      color:$textos-secundarios;
                      font-family:$titulos-secundarios;
                      font-size: $font-15px;
                      text-align: center;
                      height: 20px;
                      padding: 20px;
                      margin: 25px;
                      border-radius: 10px;
                  }
              }
          }
      }
  } 
  /*pie de pagina*/
  footer{
      h6{
          font-size: 25px;
      }
      .footerr{
          height: 35px;
          width: 35px;
      }
      .pie-de-pagina {
          font-size: 12px;
          padding: 10px 5px 5px;
          margin: 10px 10px 5px;
      }
  } 
  }